* text=auto !eol
/AUTHORS -text
/INSTALL -text
/LICENSE -text
/Makefile -text
/README -text
doc/README -text
doc/a1block1.eps -text
doc/a1block1.fig -text
doc/a1block1.pdf -text
doc/cmat.eps -text
doc/cmat.fig -text
doc/cmat.pdf -text
doc/constraints.eps -text
doc/constraints.fig -text
doc/constraints.pdf -text
doc/csdpuser.aux -text
doc/csdpuser.pdf -text
doc/csdpuser.tex -text
doc/example.c -text
doc/sdp.bib -text
example/Makefile -text
example/example.c -text
include/blockmat.h -text
include/declarations.h -text
include/index.h -text
include/parameters.h -text
lib/Fnorm.c -text
lib/Makefile -text
lib/add_mat.c -text
lib/addscaledmat.c -text
lib/allocmat.c -text
lib/calc_dobj.c -text
lib/calc_pobj.c -text
lib/chol.c -text
lib/copy_mat.c -text
lib/easysdp.c -text
lib/freeprob.c -text
lib/initparams.c -text
lib/initsoln.c -text
lib/linesearch.c -text
lib/make_i.c -text
lib/makefill.c -text
lib/mat_mult.c -text
lib/mat_multsp.c -text
lib/matvec.c -text
lib/norms.c -text
lib/op_a.c -text
lib/op_at.c -text
lib/op_o.c -text
lib/packed.c -text
lib/psd_feas.c -text
lib/qreig.c -text
lib/readprob.c -text
lib/readsol.c -text
lib/sdp.c -text
lib/solvesys.c -text
lib/sortentries.c -text
lib/sym_mat.c -text
lib/trace_prod.c -text
lib/tweakgap.c -text
lib/user_exit.c -text
lib/writeprob.c -text
lib/writesol.c -text
lib/zero_mat.c -text
matlab/README -text
matlab/control1.correct -text
matlab/control1.mat -text
matlab/convertf.m -text
matlab/csdp.m -text
matlab/readsdpa.m -text
matlab/readsol.m -text
matlab/writesdpa.m -text
matlab/writesol.m -text
solver/Makefile -text
solver/csdp.c -text
test/Makefile -text
test/g50 -text
test/g50.correct -text
test/theta1.correct -text
test/theta1.dat-s -text
theta/Makefile -text
theta/README -text
theta/complement.c -text
theta/graphtoprob.c -text
theta/rand_graph.c -text
theta/theta.c -text
